/** Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #0f172a;
  --primary-text: #ffffff;
  --card-bg-color: #475569;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}


